<script>
	// @ts-nocheck

	import { supabase } from '$lib/supabaseClient';
	import { readable, get } from 'svelte/store';

	/**
	 * @type {unknown}
	 */
	export let id;
	/**
	 * @type {any}
	 */
	export let namech;
	/**
	 * @type {any}
	 */
	export let content;

	export let name;

	// @ts-ignore
	async function addComment({ target }) {
		const formData = new FormData(target);

		const { data, error } = await supabase.from('comments').insert({
			content: formData.get('comment'),
			name: formData.get('names'),
			channel: id
		});
	}

	const comments = readable(null, (set) => {
		supabase
			.from('comments')
			.select('*')
			.filter('channel', 'eq', id)
			// @ts-ignore
			.then(({ error, data }) => set(data));

		// add subscription to supabase logic
		const subscription = supabase
			.channel('comments:channel=eq.' + id)
			.on('postgres_changes', { event: '*', schema: '*' }, (payload) => {
				if (payload.eventType === 'INSERT') {
					// @ts-ignore
					set([...get(comments), payload.new]);
				}
			})
			.subscribe();
		return () => supabase.removeChannel(subscription);
	});
</script>

<div class="ml-4 ">
	<div class="text center">
		<h3 class="text-md text-red-800 font-semibold pb-2 ml-2">
			Kelas Cakap <span class="text-blue-500 text-xl mx-auto">{namech}</span>
		</h3>
	</div>
	<div class="h-96 overflow-auto rounded-2xl border-2 border-sky-800 bg-white text-sm">
		{#if $comments}
			{#each $comments as { content }}
				<p class="chat-bubble bg-sky-500 m-2">{content}</p>
			{:else}
				------Sapa temanmu sekarang!------
			{/each}
		{:else}
			Mohon tunggu
		{/if}
	</div>
	<div class="p-2">
		<form on:submit|preventDefault={addComment}>
			<input
				class="w-20 rounded-lg text-sm text-center border-red-900 border-2"
				placeholder="Nama"
				name="names"
			/>
			<input
				class="w-80 h-12 m-2 rounded-xl border-2 border-red-900"
				placeholder="pesan"
				name="comment"
			/>
			<button class="bg-red-400 p-3 w-20 rounded-xl text-white font-bold">kirim</button>
		</form>
	</div>
</div>
