<script>
	// @ts-nocheck

	import { supabase } from '$lib/supabaseClient';
	import { readable, get } from 'svelte/store';
	import Post from '$lib/Post.svelte';

	/**
	 * @param {{ target: HTMLFormElement | undefined; }} e
	 */
	async function addPost(e) {
		const formData = new FormData(e.target);
		const { data, error } = await supabase.from('channels').insert({
			namech: formData.get('namech')
		});
	}

	const channels = readable(null, (set) => {
		supabase
			.from('channels')
			.select('*')
			// @ts-ignore
			.then(({ error, data }) => set(data));

		// add subscription to supabase logic
		const subscription = supabase
			.channel('channels')
			.on('postgres_changes', { event: 'INSERT', schema: '*' }, (payload) => {
				// @ts-ignore
				set([...get(channels), payload.new]);
			})
			.subscribe();
		return () => supabase.removeChannel(subscription);
	});
</script>

<div class="flex-vertical bg-gray-200 h-screen ">
	<div>
		<input type="checkbox" id="my-modal" class="modal-toggle" />
		<div class="modal">
			<div class="modal-box">
				<h3 class="font-bold text-lg">Selamat kamu berhasil membuat kelas baru!</h3>
				<p class="py-4">Selamat menikmati percakapan yang seru dengan teman-temanmu.</p>
				<div class="modal-action">
					<label for="my-modal" class="btn bg-blue-800 hover:bg-blue-400">Yay!</label>
				</div>
			</div>
		</div>
		<h1 class="text-8xl font-semibold text-center w-96 mx-auto pt-8 text-blue-700">
			<span class="text-red-600 text-10xl">'</span>Cakap<span class="text-red-600 text-10xl">.</span
			>
		</h1>
		<h2 class="text-sm text-center w-96 pt-4 mx-auto">
			Kelas terbaik untuk bercakap mengenai pekerjaan dan proyek yang kamu kerjakan!
		</h2>
		<h2 class="text-md text-center w-96 mx-auto pt-3 font-semibold ">Pilih kelas cakapmu</h2>
		<div class="text-sm text-center w-96 mx-auto pt-4 mb-9">
			{#if $channels}
				{#each $channels as post}
					<a
						class="bg-blue-900 text-white p-1 m-2 rounded-xl border-blue-500 border-2 hover:bg-blue-500"
						href="/channel/{post.id}"
					>
						{post.namech}
					</a>
				{/each}
			{:else}
				Mohon menunggu
			{/if}
		</div>
		<h2 class="text-md text-center w-96 mx-auto pt-18 font-semibold">Atau buat kelasmu sendiri</h2>
		<div class="text-xl text-center w-96 mx-auto">
			<form on:submit|preventDefault={addPost}>
				<input
					class="shadow-2xl w-25 text-sm p-1 mt-2 text-center rounded-xl border-2 border-blue-100"
					placeholder="nama kelas"
					name="namech"
				/> <br />

				<button class=" mt-2 mb-4"
					><label
						for="my-modal"
						class="border-2 border-red-300 shadow-2xl mb-18 p-2 w-16 rounded-full bg-red-500 text-white text-sm hover:bg-red-900"
						>Buat</label
					></button
				>
			</form>
		</div>
	</div>
	<a href="https://ibb.co/crpzTNy"
		><img
			src="https://i.ibb.co/nLVhkDw/peoples.png"
			class="h-40 mx-auto"
			alt="peoples"
			border="0"
		/></a
	>
</div>
