<script>
	// @ts-nocheck

	import { supabase } from '$lib/supabaseClient';
	import { page } from '$app/stores';
	import { readable, get } from 'svelte/store';
	import Post from '$lib/Post.svelte';

	let id = $page.params.id;
	export let namech;

	const channels = readable(null, (set) => {
		supabase
			.from('channels')
			.select('*')
			.filter('id', 'eq', id)
			// @ts-ignore
			.then(({ error, data }) => set(data));

		// add subscription to supabase logic

		const subscription = supabase
			.channel('channels')
			.on('postgres_changes', { event: 'INSERT', schema: '*' }, (payload) => {
				// @ts-ignore
				set([...get(channels), payload.new]);
			});
	});
</script>

<div class="flex bg-gray-200 h-screen">
	<div class="flex-vertical w-1/2 ">
		<div class="pt-2">
			<a
				href="/"
				class="text-sm font-semibold bg-green-600 text-white text-center p-2 rounded-xl ml-24"
				>Back</a
			>
			<a href="/" class="text-4xl font-semibold w-96 ml-6 text-blue-700 mt-2">
				<span class="text-red-600 text-10xl ml-36 ">'</span>Cakap<span
					class="text-red-600 text-10xl">.</span
				>
			</a>
		</div>
		<div class="ml-20 pt-2">
			{#if $channels}
				{#each $channels as { namech, id }}
					<Post {namech} {id} />
				{/each}
			{:else}
				Mohon tunggu
			{/if}
		</div>
	</div>
	<div class="w-1/2">
		<a href="https://imgbb.com/"
			><img
				src="https://i.ibb.co/6P5RQhC/couple.png"
				class="h-screen mx-auto"
				alt="couple"
				border="0"
			/></a
		>
	</div>
</div>
